/* Basic styling for generic tag elements*/
body{
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    background-color: #4F9153;
    color: white;
}

h1{
    font-size: 55px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 80px;
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

nav a{
    color:wheat;
    padding: 20px;
    text-decoration: none;
}

h2{
    font-size: 40px;
}
#center-heading-two{
    text-align: center;
}

p{
    font-size: 30px;
    color: linen;
}

img{
    max-width: 700px;
    max-height: 700px;
}

footer{
    text-align: center;
}
footer p{
    color: rgb(235, 219, 219);
    padding: 15px;
}

.logo{
    max-width: 75px;
    max-height: 75px;
    border-radius: 600px;
}

.wrapper{
    background-color: rgb(62, 63, 69);
}

/* Styling to create column like structures for left text and right images */
.columns{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    max-height: 100vh;
}
.text-column{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 20px;
}
.images-column{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    height: 90%;
    box-sizing: border-box;
}
.images-column img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
  
/* Styling the products page/gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    justify-items: center;
}

.product {
    position: relative;
    width: 100%;
    padding-top: 100%; 
    
}
.product img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product a {
    color: blueviolet;
    text-decoration: none;
}
  
.product a:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}

/*  About Section specific styling choices */
#about-p{
    margin: 0 auto;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}
#about-owner{
    align-items: center;
    text-align: center;
}
#about-owner img{
    margin: 0 auto;
    display: flex;
}
/* Special styling for Contact, iframe column and picture */
#special-image{
    margin-top: 100px;
}
#background{
    max-width: 600px;
    max-height: 600;
}
#iframe-include{
    padding: 20px;
    max-width: 400px;
}