/* Basic styling for generic tag elements*/
/* Font classes */
.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

body{
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    background-color: #4F9153;
    color: white;
    font-family: "saira", sans-serif;
}

header {
    width: 100%;
    background-color: #3a6b40;
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 10px;

}
.header-inner {
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
}
 
h1{
    font-size: 55px;
    text-align: center;
    font-family: "Urbanist", sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 80px;
    font-size: 35px;
    padding: 1px;
    text-align: center;
}
nav a {
    color: wheat;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}  
nav a:hover {
    color: rgb(252, 252, 252);
    background-color: #2f4f4f;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}
.nav-wrapper {
    background-color: rgb(62, 63, 69);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    flex-wrap: wrap;
}

#menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}  

.logo {
    max-width: 140px;
    max-height: 140px;
    border-radius: 600px;
    margin-right: 20px;
}  
.mobile-logo{
    display: none;
    max-height: 140px;
    border-radius: 600px;
    margin-right: 20px;
}

h2{
    font-size: 40px;
    font-family: "Urbanist", sans-serif;

}
#center-heading-two{
    text-align: center;
}

p{
    font-size: 30px;
    color: linen;
}

img{
    max-width: 700px;
    max-height: 700px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgb(29, 29, 29);
}

footer {
  width: 100%;
  background-color: #3a6b40;
  border-radius: 10px;

}
.footerContent {
  max-width: 1200px; 
  margin: 0 auto;
  text-align: center;
}
footer p {
  color: rgb(235, 219, 219);
}

iframe{
    border-radius: 15px;
}


/* Styling to create column like structures for left text and right images */
.columns{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    max-height: 100vh;
}
.text-column{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 20px;

}
.images-column{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    height: 90%;
    box-sizing: border-box;
}
.images-column img {
    width: 700px;
    height: 550px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
  
/* Styling the products page/gallery */
.gallery {
  position: relative; /* Needed to contain absolutely positioned arrows */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.gallery-main {
  text-align: center;
  max-width: 600px;
}

.gallery-main p {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

#main-gallery-image {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}

/* ARROWS */
#gallery-arrow-left,
#gallery-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

#gallery-arrow-left {
  left: 10px;
}

#gallery-arrow-right {
  right: 10px;
}

#gallery-arrow-left:hover,
#gallery-arrow-right:hover {
  background-color: #51aa4e;
}



.product {
    position: relative;
    width: 100%;
    padding-top: 100%; 
    
}
.product img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
    object-fit: cover;
}
.product a {
    color: blueviolet;
    text-decoration: none;
}
  
.product a:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}

/* Modal/ Gallery styling continue */
.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

#modal-caption {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
  
.modal-content{
    max-width: 80%;
    max-height: 80%;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.arrow{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    padding: 10px;
}

#arrow-left{
    left:30px;
}

#arrow-right{
    right: 30px;
}

.arrow:hover{
    color: #51aa4e;
}


/*  About Section specific styling choices */
#about-p{
    margin: 0 auto;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}
#about-owner{
    align-items: center;
    text-align: center;
}
#about-owner img{
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    height: 600px;
}
/* Special styling for Contact, iframe column and picture */
#special-image{
    margin-top: 100px;
}
#background{
    max-width: 600px;
    max-height: 600;
}
#iframe-include{
    padding: 20px;
    max-width: 400px;
}
.menu-toggle{
    display: none;
}

/* Media Queries */

/* Laptop/Large Screens */
@media(max-width: 1200px){
    html, body{
        max-width: 1200px;
    
    }

    img{
        max-width: 545px;
        max-height: 550px;
    }

    p{
        font-size: 24px;
    }
    nav a{
        padding: 3px;
        font-size: 30px;
    }
    .nav-wrapper{
        padding: 15px;
    }

    .logo{
        max-width: 131px;
    }

    #iframe-include{
        max-height: 700px;
        max-width: 400px;
    }
   
    iframe{
        max-width: 350px;
        max-height: 500px;
    }
    #special-image{
        max-width: 500px;
        max-height: 500px;
    }
    #background{
        max-width: 500px;
        max-height: 480px;
    }

}

/*  Bridge between laptop/horizontal tablet to  tablet */
@media (max-width: 992px) {
    html, body {
        max-width: 992px;
    }
    img{
        max-width: 450px;
        max-height: 500px;
    }
    p{
        font-size: 18px;
    }
    nav a{
        padding: 2px;
        font-size: 24px;
    }
    .logo{
        max-width: 90px;
    }

    .gallery{
        max-width: 500px;
        max-height: 500px;
    }
    #main-gallery-image{
        max-width: 350px;
        max-height: 350px;
    }
    .gallery p{
        font-size: 13px;
    }

    #iframe-include{
        max-width: 400px;
    }

    iframe{
        max-width: 300px;
        max-height: 265px;
    }
    #special-image{
        max-width: 400px;
    }
    #background{
        max-width: 400px;
        max-height: 420px;
    }

}


/*  Tablet sized screens */
@media(max-width: 768px) {
    html, body{
        max-width: 768px;
 
    }
    img{
        margin-top: 30px;
        max-width: 350px;
        max-height: 450px;
    }
    p{
        font-size: 20px;
    }

    nav a{
        padding: 3px;
        font-size: 20px;

    }      
    .nav-wrapper{
        padding: 24px;
    }

    .logo{
        max-width: 100px;
        margin-top: 10px;
    }

    .gallery{
        max-width: 700px;
        max-height: 700px;
    }
    #main-gallery-image{
        max-width: 475px;
        max-height: 400px;
    }
    .gallery p{
        font-size: 20px;
    }

    #iframe-include{
        max-height: 450px;
        max-width: 425px;
    }
   
    iframe{
        max-width: 250px;
        max-height: 250px;
    }
    #special-image{
        max-width: 475;
        max-height: 550px;
    }
    #background{
        max-width: 400px;
        max-height: 400px;
    }
    
}
/* Mobile styles (576px and below) */
/* @media(max-width: 576px){
    body{
        max-width: 576px;
    }

    p{
        font-size: 14px;
    }
    
    img{
        max-width: 300px;
        max-height: 400px;
    }

    .logo{
        max-width: 50px;
        max-height: 50px;
    }

    nav a{
        font-size: 13px;
    }

    .text-column{
        max-width: 300px;
    }
    .images-column{
        max-width: 300px;
        max-height: 400px;
    }

    .gallery{
        width: 500px;
        height: 500px;
        left: 10px
    }
    .gallery p {
        font-size: 8px;
    }

    #main-gallery-image{
        max-width: 450px;
        max-height: 450px;
    }


} */



/* Nav bar style */
@media(max-width: 576px){
    body{
        max-width: 576px;
    }
    .logo{
        display: none;
    }

    
    .mobile-logo{
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-wrapper{
        width: 70%;
    }
    .nav-links a{
        display: inline-block;
    }
    .nav-links.show{
        display: inline-block;
    }



    footer {
        width: 90%;
        background-color: #3a6b40;
        border-radius: 20px;
        padding: 30px;
        margin-top: 100px;
    }
    .footerContent {
        max-width: 100%;
        text-align: center;
    }
    footer p {
        font-size: 14px;
        color: rgb(235, 219, 219);
    }


    img{
        max-width: 400px;
        max-height: 400px;
    }

    .columns{
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }
    .text-column, .images-column{
        max-width: 400px;
        margin-top: 0;
        
    }
    .images-column img{
        width: 325px;
        height: 325px;
    }
    #iframe-include{
        margin: 0 auto;
        text-align: center;
    }   

}
@media(max-width: 400px){
    footer{
        display: none;
    }
}