body{
    background-color: rgb(123, 155, 187);
}

p{
    font-size: 20px;
    font-family: Georgia;
    color:rgb(218, 230, 241);
    padding: auto;
    text-align: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
h1{
    font-size: 35px;
    font-family: Georgia;
    padding: auto;
    color:rgb(30, 29, 29);
    text-align: center;
}
h2{
    font-size: 25px;
    font-family: Georgia;
    padding: auto;
    color:white;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

li{
    
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}
.subpoints{
    list-style: circle;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.listhead{
    font-weight: bold;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;

}
.links{
    color:white;
    font-family: Georgia;
    font-size: 20px;
    padding: auto;
    text-align: center;

}

.links a{
    color: black;
}
.links a:visited{
    color: rgb(52, 52, 52)
}
.links a:hover{
    color: rgb(163, 227, 84)
}


.backgrounds {
    text-align: center;
}

.caption{
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
}

#design-firm{
   color: white;
   text-align: center;
   padding-top: 20px;
   display: block;
}
#design-firm:hover{
    color: rgb(163, 227, 84)
}