<header>
  <nav>
    <div class="nav-wrapper">
      <img class="logo" src="images/golfshoplogo.png" alt="clip art logo">
      <img class="mobile-logo" src="images/golfshoplogo.png" alt="clip art logo">



      <div id="menu" class="nav-links">
        <a href="index.html">Home</a>
        <a href="products.html">Products</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="listings.html">Online Listings</a>
      </div>
    </div>
  </nav>
  <h1>Pilar's Golf Shop</h1>
  <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
  <script src="scripts/menu.js"></script>
  
</header>


  