<header>
    <h1 class="headin-1">Edwin Jimenez's Ecstatic Jaguar || ITIS 3135 </h1>
        <nav>
            
            <a href="../index.html">ITIS 3135 Home page</a>
            <a href="../introduction.html"> Introduction Page </a>
            <a href="../contract.html"> Contract Page </a>
            <a href="../WhimsicalCompany/index.html"> Whimsical Company Page </a>
            <a href="../website_evaluations.html">Website Evaluations </a>
            <a href="../tables.html">HTML Tables</a>
            
        </nav>

        <nav id="secondary-nav">
            <a href="../stuff/Home%25Page.htm"> Crappy Website </a>
            <a href="../hobby/index.html">Hobby Site</a>
        </nav>
</header>
